body{
    text-align: center;
    background-color:#F7E0BB;
}

p, .contact{
    display: block;
    margin:15px auto;
    text-align: center;
    padding:10px;
    background-color: rgb(247, 232, 232);
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    text-shadow: 1px 1px white;
    max-width: 70%;
}

.crs{
    max-width: 60%;
}

.l{
    font-family: monospace;
    color:brown;
    transition: 200ms all ease-in-out;
    text-decoration: none;
}

.l:hover{
    font-weight: bold;
    text-decoration: underline;
    color:brown;
}